.body{
    margin: 0;
    padding: 0;
    }
.green{
    color: #648880;
}
.container{
    background: #293f50;
}
.container .header{
    width: 100%;
    height: 35vh
}

.container .header .top{
    width: 66%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}
.container .header .top #sty-con{
    color: #fff;
    width: 49%;
}
.container .header .top .right{
    width: 49%;
}
/* .container .header .top .right*/ .nav{ 
    float: right;
    word-spacing: 1vh;
    padding-top: 2vh;
} 
/* .container .header .top .right*/ .nav a{ 
    color: #fff;
    text-decoration: none;
}
.container .header .top #sty-con #sty{
    font-size: 9vh;
}
.container .header .top .right #date{
    float: right;
    font-size: 3.8vh;
    padding-top: 7vh;
}
.container .bellow{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.container .bellow #dedicated{
    text-align: center;
    font-size: 7vh;
}
.container .bellow #every-year{
    color: #fff;
    font-size: 4vh;
    text-align: center;
    margin-bottom: 2vh;

}
.container .bellow .button{
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 8vh;
}
.container .bellow .button a{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 20px 30px 20px 30px;
    font-size: 3vh;
}
.image-details .details{
    display: grid;
    grid-template-columns: auto auto auto;
}
.image-details .details div{
    margin-left: auto;
    margin-right: auto;
    width: 280px;
}
.image-details .details #schedule{
    padding-left: 25px;
    padding-right: 25px;
}
.mid{
    padding-bottom: 2vh;
    padding-top: 2vh;
    display: grid;
}
.mid .f1{
    margin-left: auto;
    margin-right: auto;
}
.mid .f1 img{
    width: 280px;
    height: 198px;
}
.mid .f1 #middle{
    padding-left: 25px;
    padding-right: 25px
}
.bottom #bottom-nav{
    width: 66%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 22px;
    padding-top: 22px;
}
.bottom #bottom-nav .scon{
    display: flex;
    justify-content: center;
    align-items: center
    /* float: right; */
}
.neecha{
    margin-left: auto;
}