.body{
    margin: 0;
    padding: 0;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.green{
    color: #648880;
}
.container{
    background: #293f50;
}
.container .header{
    width: 100%;
}
.container .header .top{
    width: 66%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.container .header .top #sty-con{
    color: #fff;
    width: 49%;
}
.container .header .top .right{
    width: 49%;
}
.nav{ 
    float: right;
    /* word-spacing: px; */
    padding-top: 2vh;
    font-size: 14px;
    font-weight: 400;
} 
.nav .upr-nav{
    padding-left: 0px;
}
.nav a{ 
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.container .header .top #sty-con #sty{
    font-size: 48px;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 44px;
}
.container .header .top .right #date{
    float: right;
    font-size: 21px;
    padding-top: 17px;
}
.container .bellow{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container .bellow #dedicated{
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}
.container .bellow #every-year{
    color: #fff;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.container .bellow #every-year p{
    line-height: 200%;
    margin-top: 10px;
}
.container .bellow .button{
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 8vh;
}
.container .bellow .button a{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 20px 30px 20px 30px;
    font-size: 18px;
}
.cntr{
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    margin-top: 5%;
    margin-bottom: 3.3%;

}
.heading{
    margin-top: 0px;
    margin-bottom: 0px;
}
.cntr .grid{
    width: 280px;
    display: flex;
}
.cntr .grid .sec2{
    padding-left: 25px;
    padding-right: 25px;
}
.img{
    width: 280px;    
}

.img-explaination{
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 3.3%;
}
.sec{
    width: 280px;
}
.bottom #bottom-nav{
    width: 66%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 22px;
    padding-top: 22px;
}
.bottom #bottom-nav .scon{
    display: flex;
    justify-content: center;
    align-items: center
}
.neecha{
    margin-left: auto;
}
.ajeeb{
    color: #a9b2b9;
    font-weight: 400;
}
.aj_eeb{
    color: #888;
}
