.body{
    margin: 0;
    padding: 0;
}
/*
    AJEEB COLOUR    
*/
.green{
    color: #648880;
}
.container{
    background: #293f50;
}

.container .header{
    width: 100%;
    height: 49.17vh
}

.container .header .top{
    width: 66%;
    /* display: block; */
    display: flex;
    justify-content: center;
  
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;

}
.container .header .top #sty-con{
    color: #fff;
    width: 49%;
}
.container .header .top .right{
    width: 49%;
}
.container .header .top .right #nav{
    float: right;
    word-spacing: 3vh;
    padding-top: 2vh;
} 
.container .header .top .right #nav a{
    color: #fff;
    text-decoration: none;
}
.container .header .top #sty-con #sty{
    font-size: 13vh;
}
.container .header .top .right #date{
    float: right;
    font-size: 6vh;
    padding-top: 7vh;
}
.container .bellow{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.container .bellow #dedicated{
    text-align: center;
    font-size: 11vh;
}
.container .bellow #every-year{
    color: #fff;
    font-size: 7.6vh;
    text-align: center;
}